@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--charcoal-grey);
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* display: grid;
  grid-auto-flow: column; */
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  width: 800px;
  height: 500px;
  border-radius: 30px;
}

.left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  height: 100%;
  width: 60%;
}

.titulo {
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
}

.texto {
  margin-bottom: 1.5rem;
  font-size: 14px;
  color: var(--dark-slate-grey);
}

.lista {
  list-style-image: url(/images/icon-success.svg);
  line-height: 2.3;
  font-size: 14px;
  color: var(--dark-slate-grey);
  margin-bottom: 1.5rem;
  padding-left: 1.2rem;
}

.lista li {
  padding-left: 1rem;
}

.email {
  display: flex;
  flex-direction: column;
}

.titulo-email {
  color: var(--charcoal-grey);
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 12px;
}

input {
  width: 320px;
  height: 50px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  outline: 2px solid rgba(128, 128, 128, 0.51);
  border: none;
  cursor: pointer;
}

#email:focus {
  outline: 2px solid var(--dark-slate-grey);
}

.boton {
  width: 320px;
  height: 50px;
  background-color: var(--charcoal-grey);
  color: var(--white);
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.boton:is(:hover, :active, :focus) {
  background-color: var(--tomato);
  color: var(--white);
  box-shadow: 0px 3px 10px var(--tomato);
}

.boton:focus {
  outline: 2px solid var(--tomato);
}

.right-content {
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

/* MOBILE */
@media screen and (max-width: 375px) {
  body {
    background-color: var(--white);
  }
  main {
    display: flex;
    align-items: baseline;
  }

  .right-content {
    display: none;
  }
  .container {
    display: grid;
    place-items: center;
  }
  .mobile {
    position: absolute;
    top: 0;
  }
  .left-content {
    z-index: 1;
    margin-top: 18rem;
    margin-right: 2rem;
  }
}

/* DESKTOP */
@media screen and (max-width: 1440px) {
  .mobile {
    display: none;
  }
}
